<%-include('header')-%>

<div class="text-center " id='login'>
    <div class="container w-25 border py-5 fmbg">
        <div class="title">
            <h2 class="font-weight-bold">Sign Up</h2>
            <span>Sign up for new user</span>
            <% if(locals.logout){ %> 
                <div class="alter alert-success text-center"><%=logout%></div>
                <%}%>
                <%  if(locals.incorrect){%> <div class="alter alert-decline text-center"><%=message%></div><%}%>
        </div>
        <form action="/route/signup" method='POST' class="pt-3" id="u">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" name="username" id="username">
                <input type="email" class="form-control" placeholder="email" name="email">
                <small class='form-text text-muted text-left'>Register email address</small>
            </div>
            <div class="form-group">
                <input type="password" class='form-control' name="password" placeholder="password">
            </div>
            <br>
            <button type='submit' class='btn btn-success rounded-pill'>Submit</button>
        </form>
    </div>
    <script src="/server.js"></script>
    <script src="/js/socket.io/client-dist/socket.io.js"></script>
    <!-- <script src="/js/sign.js"></script> -->
</div>





<%-include('footer')-%>